{
    "Language": "Cpp",
    "BasedOnStyle": "WebKit",
    "IndentWidth": 4,
    "TabWidth": 4,
    "UseTab": "Always",
    "BreakConstructorInitializersBeforeComma": false,
    "ColumnLimit": 200,
    "AllowShortBlocksOnASingleLine": false,
    "AllowShortCaseLabelsOnASingleLine": false,
    "AllowShortFunctionsOnASingleLine": false,
    "AllowShortLambdasOnASingleLine": true,
    "SpacesBeforeTrailingComments": 2,
    "Standard": "c++20",
    "BreakBeforeBraces": "Attach",
    "NamespaceIndentation": "Inner"
}
